<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyu.kiss.mapper.OrderMapper">

	<!-- collection嵌套结果集的方式，定义关联的集合类型元素的封装规则-->
	
	<!-- 嵌套结果集的方式，使用collection标签定义关联的集合类型的属性封装规则 -->
	<resultMap type="com.boyu.kiss.entity.OrderVO" id="getOrderitemResultMap">
		<id column="id" property="id"/>
		<result column="address" property="address"/>
		<result column="consignee" property="consignee"/>
		<result column="freightInsurance" property="freightInsurance"/>
		<result column="leave_message" property="leave_message"/>
		<result column="money" property="money"/>
		<result column="orderid" property="orderid"/>
		<result column="orderTime" property="orderTime"/>
		<result column="phone" property="phone"/>
		<result column="state" property="state"/>
		<result column="userId" property="userId"/>
		<result column="storeId" property="storeId"/>
		<!-- 
		collection定义关联结合类型的属性的封装规则
		ofType：指定集合里面元素的类型
		-->
		<collection property="orderitemVO" ofType="com.boyu.kiss.entity.OrderitemVO">
			<!-- 定义这个集合中元素的封装规则 -->
			<id column="orderitemId" property="orderitemId"/>
			<result column="commodityid" property="commodityid"/>
			<result column="number" property="number"/>
			<result column="subtotal" property="subtotal"/>
			<result column="goodsName" property="goodsName"/>
			<result column="Image" property="Image"/>
			<result column="unit" property="unit"/>
			<result column="info" property="info"/>
		</collection>
	
	</resultMap>
	
	<!-- public Department getDeptByIdPlus(Integer id); -->
	<select id="getOrderByUserId" resultMap="getOrderitemResultMap" >
		<!-- SELECT o.*,i.id,i.goodsId,i.number,i.subtotal,i.storeId 
		FROM t_order o,t_orderitem i WHERE o.id = i.orderId and userId = #{userId} -->
		SELECT c.id AS commodityid,c.goodsName,c.Image,c.unit,c.info,o.*,
		i.id AS orderitemId,i.number,i.subtotal,i.storeId 
		FROM t_order o,t_orderitem i,t_commodity c 
		WHERE o.id = i.orderId AND i.goodsId = c.id AND userId = #{userId}
	</select>
	<select id="getOrderByStoreId" resultMap="getOrderitemResultMap" >
		SELECT c.id AS commodityid,c.goodsName,c.Image,c.unit,c.info,o.*,
		i.id AS orderitemId,i.number,i.subtotal,i.storeId 
		FROM t_order o,t_orderitem i,t_commodity c 
		WHERE o.id = i.orderId AND i.goodsId = c.id AND i.storeId = #{storeId}
	</select>
</mapper>