<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyu.kiss.mapper.UserMapper">
	<select id="findUserByRoleAndName" resultType="com.boyu.kiss.entity.User">
		SELECT * FROM t_user WHERE userName = #{userName} AND roleid = #{roleId1} OR roleid = #{roleId2}
	</select>
	
	<select id="selectUser" resultType="User">
		select * from t_user 
		where 
		username = #{username} and password = #{password}
		and roleid not in(1,2,3)
	</select>
	<select id="selectUserList" resultType="UserVO">
		SELECT t_user.Id,t_user.userName,
		(SELECT `name` FROM t_role WHERE id = t_user.roleid) AS roleName,
		info.phone,info.name FROM t_user,t_userinfo info 
		WHERE t_user.id = info.userid
		<if test="begin != null and end != null">
		LIMIT #{begin} , #{end}
		</if>
	</select>
	
	<select id="selectUserListCount" resultType="Integer">
		SELECT count(1) FROM t_user,t_userinfo info 
		WHERE t_user.id = info.userid
		
	</select>
</mapper>